#view-set-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#album-modal-title{
    color: #9da4bd;
	font-family: 'Orbitron', sans-serif;
}

#album-modal-subtitle {
    font-family: 'Orbitron', sans-serif;
}

.modal-album {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 85vh;
}

.set-cards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-items: center;
    gap: 1.5rem;
    padding: 0.5rem 0.8rem 1rem 0.5rem;
    max-height: 100%;
    overflow-y: auto; 
    overflow-x: hidden;
}

.set-card-item {
    width: 150px;
    height: 210px;
    position: relative;
    border-radius: 10px;
    overflow: visible;
    cursor: pointer;
}

.album-filters {
background-color: transparent;


}